[bumpversion]
current_version = 0.3.0
commit = True
tag = True

[bumpversion:file:backend/sprites/main.py]
search = version="{current_version}",
replace = version="{new_version}",


[bumpversion:file:frontend/package.json]
search = "version": "{current_version}",
replace = "version": "{new_version}",
