aiocontextvars==0.2.2     # via loguru
click==7.1.1              # via uvicorn
contextvars==2.4          # via aiocontextvars
cycler==0.10.0            # via matplotlib
dataclasses==0.7          # via pydantic
fastapi==0.54.1           # via -r requirements.in
h11==0.9.0                # via uvicorn
httptools==0.1.1          # via uvicorn
immutables==0.11          # via contextvars
kiwisolver==1.2.0         # via matplotlib
loguru==0.4.1             # via -r requirements.in, pyseagull
matplotlib==3.2.1         # via -r requirements.in, pyseagull
numpy==1.18.2             # via -r requirements.in, matplotlib, pyseagull, scipy
pydantic==1.4             # via fastapi
pyparsing==2.4.7          # via matplotlib
pyseagull==1.0.0b3        # via -r requirements.in
python-dateutil==2.8.1    # via matplotlib
scipy==1.4.1              # via pyseagull
six==1.14.0               # via cycler, python-dateutil
starlette==0.13.2         # via fastapi
uvicorn==0.11.3           # via -r requirements.in
uvloop==0.14.0            # via uvicorn
websockets==8.1           # via uvicorn
